In [1]:
import pandas as pd
from pandas import Series,DataFrame
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')
%matplotlib inline
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB

In [2]:
titanic_df = pd.read_csv("C:/Users/vishw/PycharmProjects/kaggle/PTitanic/train.csv")
test_df    = pd.read_csv("C:/Users/vishw/PycharmProjects/kaggle/PTitanic/test.csv")
titanic_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
titanic_df = titanic_df.drop(['Name', 'Ticket'], axis=1)
test_df    = test_df.drop(['Ticket'], axis=1)

In [4]:
titanic_df["Embarked"] = titanic_df["Embarked"].fillna("S")

In [5]:
test_df["Fare"].fillna(test_df["Fare"].median(), inplace=True)

In [6]:
fare_not_survived = titanic_df["Fare"][titanic_df["Survived"] == 0]
fare_survived     = titanic_df["Fare"][titanic_df["Survived"] == 1]
avgerage_fare = DataFrame([fare_not_survived.mean(), fare_survived.mean()])
std_fare      = DataFrame([fare_not_survived.std(), fare_survived.std()])

In [9]:
 #get average, std, and number of NaN values in titanic_df
average_age_titanic   = titanic_df["Age"].mean()
std_age_titanic       = titanic_df["Age"].std()
count_nan_age_titanic = titanic_df["Age"].isnull().sum()

# get average, std, and number of NaN values in test_df
average_age_test   = test_df["Age"].mean()
std_age_test       = test_df["Age"].std()
count_nan_age_test = test_df["Age"].isnull().sum()

# generate random numbers between (mean - std) & (mean + std)
rand_1 = np.random.randint(average_age_titanic - std_age_titanic, average_age_titanic + std_age_titanic, size = count_nan_age_titanic)
rand_2 = np.random.randint(average_age_test - std_age_test, average_age_test + std_age_test, size = count_nan_age_test)

# fill NaN values in Age column with random values generated
titanic_df["Age"][np.isnan(titanic_df["Age"])] = rand_1
test_df["Age"][np.isnan(test_df["Age"])] = rand_2

# convert from float to int
titanic_df['Age'] = titanic_df['Age'].astype(int)
test_df['Age']    = test_df['Age'].astype(int)

C:\Users\vishw\Anaconda3\lib\site-packages\ipykernel\__main__.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\vishw\Anaconda3\lib\site-packages\ipykernel\__main__.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [10]:
titanic_df['Family'] =  titanic_df["Parch"] + titanic_df["SibSp"]
titanic_df['Family'].loc[titanic_df['Family'] > 0] = 1
titanic_df['Family'].loc[titanic_df['Family'] == 0] = 0

test_df['Family'] =  test_df["Parch"] + test_df["SibSp"]
test_df['Family'].loc[test_df['Family'] > 0] = 1
test_df['Family'].loc[test_df['Family'] == 0] = 0

# drop Parch & SibSp
titanic_df = titanic_df.drop(['SibSp','Parch'], axis=1)
test_df    = test_df.drop(['SibSp','Parch'], axis=1)

C:\Users\vishw\Anaconda3\lib\site-packages\pandas\core\indexing.py:132: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [11]:
def get_person(passenger):
    age,sex = passenger
    return 'child' if age < 16 else sex
    
titanic_df['Person'] = titanic_df[['Age','Sex']].apply(get_person,axis=1)
test_df['Person']    = test_df[['Age','Sex']].apply(get_person,axis=1)

# No need to use Sex column since we created Person column
titanic_df.drop(['Sex'],axis=1,inplace=True)
test_df.drop(['Sex'],axis=1,inplace=True)

# create dummy variables for Person column, & drop Male as it has the lowest average of survived passengers
person_dummies_titanic  = pd.get_dummies(titanic_df['Person'])
person_dummies_titanic.columns = ['Child','Female','Male']
person_dummies_titanic.drop(['Male'], axis=1, inplace=True)

person_dummies_test  = pd.get_dummies(test_df['Person'])
person_dummies_test.columns = ['Child','Female','Male']
person_dummies_test.drop(['Male'], axis=1, inplace=True)

titanic_df = titanic_df.join(person_dummies_titanic)
test_df    = test_df.join(person_dummies_test)

In [12]:

# create dummy variables for Pclass column, & drop 3rd class as it has the lowest average of survived passengers
pclass_dummies_titanic  = pd.get_dummies(titanic_df['Pclass'])
pclass_dummies_titanic.columns = ['Class_1','Class_2','Class_3']
pclass_dummies_titanic.drop(['Class_3'], axis=1, inplace=True)

pclass_dummies_test  = pd.get_dummies(test_df['Pclass'])
pclass_dummies_test.columns = ['Class_1','Class_2','Class_3']
pclass_dummies_test.drop(['Class_3'], axis=1, inplace=True)

In [16]:
titanic_df

,PassengerId,Survived,Pclass,Age,Fare,Cabin,Embarked,Family,Person,Child,Female
0,1,0,3,22,7.2500,NaN,S,1,male,0.0,0.0
1,2,1,1,38,71.2833,C85,C,1,female,0.0,1.0
2,3,1,3,26,7.9250,NaN,S,0,female,0.0,1.0
3,4,1,1,35,53.1000,C123,S,1,female,0.0,1.0
4,5,0,3,35,8.0500,NaN,S,0,male,0.0,0.0
5,6,0,3,31,8.4583,NaN,Q,0,male,0.0,0.0
6,7,0,1,54,51.8625,E46,S,0,male,0.0,0.0
7,8,0,3,2,21.0750,NaN,S,1,child,1.0,0.0
8,9,1,3,27,11.1333,NaN,S,1,female,0.0,1.0
9,10,1,2,14,30.0708,NaN,C,1,child,1.0,0.0
10,11,1,3,4,16.7000,G6,S,1,child,1.0,0.0
11,12,1,1,58,26.5500,C103,S,0,female,0.0,1.0
12,13,0,3,20,8.0500,NaN,S,0,male,0.0,0.0
13,14,0,3,39,31.2750,NaN,S,1,male,0.0,0.0
14,15,0,3,14,7.8542,NaN,S,0,child,1.0,0.0
15,16,1,2,55,16.0000,NaN,S,0,female,0.0,1.0
16,17,0,3,2,29.1250,NaN,Q,1,child,1.0,0.0
17,18,1,2,43,13.0000,NaN,S,0,male,0.0,0.0
18,19,0,3,31,18.0000,NaN,S,1,female,0.0,1.0
19,20,1,3,41,7.2250,NaN,C,0,female,0.0,1.0
20,21,0,2,35,26.0000,NaN,S,0,male,0.0,0.0
21,22,1,2,34,13.0000,D56,S,0,male,0.0,0.0
22,23,1,3,15,8.0292,NaN,Q,0,child,1.0,0.0
23,24,1,1,28,35.5000,A6,S,0,male,0.0,0.0
24,25,0,3,8,21.0750,NaN,S,1,child,1.0,0.0
25,26,1,3,38,31.3875,NaN,S,1,female,0.0,1.0
26,27,0,3,39,7.2250,NaN,C,0,male,0.0,0.0
27,28,0,1,19,263.0000,C23 C25 C27,S,1,male,0.0,0.0
28,29,1,3,36,7.8792,NaN,Q,0,female,0.0,1.0
29,30,0,3,41,7.8958,NaN,S,0,male,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,21,11.5000,NaN,S,1,male,0.0,0.0
862,863,1,1,48,25.9292,D17,S,0,female,0.0,1.0
863,864,0,3,18,69.5500,NaN,S,1,female,0.0,1.0
864,865,0,2,24,13.0000,NaN,S,0,male,0.0,0.0
865,866,1,2,42,13.0000,NaN,S,0,female,0.0,1.0
866,867,1,2,27,13.8583,NaN,C,1,female,0.0,1.0
867,868,0,1,31,50.4958,A24,S,0,male,0.0,0.0
868,869,0,3,28,9.5000,NaN,S,0,male,0.0,0.0
869,870,1,3,4,11.1333,NaN,S,1,child,1.0,0.0
870,871,0,3,26,7.8958,NaN,S,0,male,0.0,0.0
871,872,1,1,47,52.5542,D35,S,1,female,0.0,1.0
872,873,0,1,33,5.0000,B51 B53 B55,S,0,male,0.0,0.0
873,874,0,3,47,9.0000,NaN,S,0,male,0.0,0.0
874,875,1,2,28,24.0000,NaN,C,1,female,0.0,1.0
875,876,1,3,15,7.2250,NaN,C,0,child,1.0,0.0
876,877,0,3,20,9.8458,NaN,S,0,male,0.0,0.0
877,878,0,3,19,7.8958,NaN,S,0,male,0.0,0.0
878,879,0,3,39,7.8958,NaN,S,0,male,0.0,0.0
879,880,1,1,56,83.1583,C50,C,1,female,0.0,1.0
880,881,1,2,25,26.0000,NaN,S,1,female,0.0,1.0
881,882,0,3,33,7.8958,NaN,S,0,male,0.0,0.0
882,883,0,3,22,10.5167,NaN,S,0,female,0.0,1.0
883,884,0,2,28,10.5000,NaN,S,0,male,0.0,0.0
884,885,0,3,25,7.0500,NaN,S,0,male,0.0,0.0
885,886,0,3,39,29.1250,NaN,Q,1,female,0.0,1.0
886,887,0,2,27,13.0000,NaN,S,0,male,0.0,0.0
887,888,1,1,19,30.0000,B42,S,0,female,0.0,1.0
888,889,0,3,25,23.4500,NaN,S,1,female,0.0,1.0
889,890,1,1,26,30.0000,C148,C,0,male,0.0,0.0
890,891,0,3,32,7.7500,NaN,Q,0,male,0.0,0.0

In [ ]:
pd.to_numeric(titanic_df[])

In [13]:
X_train = titanic_df.drop("Survived",axis=1)
Y_train = titanic_df["Survived"]
X_test  = test_df.drop("PassengerId",axis=1).copy()

In [15]:
X_train

,PassengerId,Pclass,Age,Fare,Cabin,Embarked,Family,Person,Child,Female
0,1,3,22,7.2500,NaN,S,1,male,0.0,0.0
1,2,1,38,71.2833,C85,C,1,female,0.0,1.0
2,3,3,26,7.9250,NaN,S,0,female,0.0,1.0
3,4,1,35,53.1000,C123,S,1,female,0.0,1.0
4,5,3,35,8.0500,NaN,S,0,male,0.0,0.0
5,6,3,31,8.4583,NaN,Q,0,male,0.0,0.0
6,7,1,54,51.8625,E46,S,0,male,0.0,0.0
7,8,3,2,21.0750,NaN,S,1,child,1.0,0.0
8,9,3,27,11.1333,NaN,S,1,female,0.0,1.0
9,10,2,14,30.0708,NaN,C,1,child,1.0,0.0
10,11,3,4,16.7000,G6,S,1,child,1.0,0.0
11,12,1,58,26.5500,C103,S,0,female,0.0,1.0
12,13,3,20,8.0500,NaN,S,0,male,0.0,0.0
13,14,3,39,31.2750,NaN,S,1,male,0.0,0.0
14,15,3,14,7.8542,NaN,S,0,child,1.0,0.0
15,16,2,55,16.0000,NaN,S,0,female,0.0,1.0
16,17,3,2,29.1250,NaN,Q,1,child,1.0,0.0
17,18,2,43,13.0000,NaN,S,0,male,0.0,0.0
18,19,3,31,18.0000,NaN,S,1,female,0.0,1.0
19,20,3,41,7.2250,NaN,C,0,female,0.0,1.0
20,21,2,35,26.0000,NaN,S,0,male,0.0,0.0
21,22,2,34,13.0000,D56,S,0,male,0.0,0.0
22,23,3,15,8.0292,NaN,Q,0,child,1.0,0.0
23,24,1,28,35.5000,A6,S,0,male,0.0,0.0
24,25,3,8,21.0750,NaN,S,1,child,1.0,0.0
25,26,3,38,31.3875,NaN,S,1,female,0.0,1.0
26,27,3,39,7.2250,NaN,C,0,male,0.0,0.0
27,28,1,19,263.0000,C23 C25 C27,S,1,male,0.0,0.0
28,29,3,36,7.8792,NaN,Q,0,female,0.0,1.0
29,30,3,41,7.8958,NaN,S,0,male,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
861,862,2,21,11.5000,NaN,S,1,male,0.0,0.0
862,863,1,48,25.9292,D17,S,0,female,0.0,1.0
863,864,3,18,69.5500,NaN,S,1,female,0.0,1.0
864,865,2,24,13.0000,NaN,S,0,male,0.0,0.0
865,866,2,42,13.0000,NaN,S,0,female,0.0,1.0
866,867,2,27,13.8583,NaN,C,1,female,0.0,1.0
867,868,1,31,50.4958,A24,S,0,male,0.0,0.0
868,869,3,28,9.5000,NaN,S,0,male,0.0,0.0
869,870,3,4,11.1333,NaN,S,1,child,1.0,0.0
870,871,3,26,7.8958,NaN,S,0,male,0.0,0.0
871,872,1,47,52.5542,D35,S,1,female,0.0,1.0
872,873,1,33,5.0000,B51 B53 B55,S,0,male,0.0,0.0
873,874,3,47,9.0000,NaN,S,0,male,0.0,0.0
874,875,2,28,24.0000,NaN,C,1,female,0.0,1.0
875,876,3,15,7.2250,NaN,C,0,child,1.0,0.0
876,877,3,20,9.8458,NaN,S,0,male,0.0,0.0
877,878,3,19,7.8958,NaN,S,0,male,0.0,0.0
878,879,3,39,7.8958,NaN,S,0,male,0.0,0.0
879,880,1,56,83.1583,C50,C,1,female,0.0,1.0
880,881,2,25,26.0000,NaN,S,1,female,0.0,1.0
881,882,3,33,7.8958,NaN,S,0,male,0.0,0.0
882,883,3,22,10.5167,NaN,S,0,female,0.0,1.0
883,884,2,28,10.5000,NaN,S,0,male,0.0,0.0
884,885,3,25,7.0500,NaN,S,0,male,0.0,0.0
885,886,3,39,29.1250,NaN,Q,1,female,0.0,1.0
886,887,2,27,13.0000,NaN,S,0,male,0.0,0.0
887,888,1,19,30.0000,B42,S,0,female,0.0,1.0
888,889,3,25,23.4500,NaN,S,1,female,0.0,1.0
889,890,1,26,30.0000,C148,C,0,male,0.0,0.0
890,891,3,32,7.7500,NaN,Q,0,male,0.0,0.0

In [14]:
random_forest = RandomForestClassifier(n_estimators=100)

random_forest.fit(X_train, Y_train)

Y_pred = random_forest.predict(X_test)

random_forest.score(X_train, Y_train)

ValueError: could not convert string to float: 'male'